<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{cityCardVm.city.country}}</span>
            <span class="md-subhead">{{cityCardVm.city.cityName}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="root.map({normalizedCityName: cityCardVm.city.normalizedCityName})">Перейти</md-button>
    </md-card-actions>
</md-card>